<div class="flex justify-content-center row">
    <form action="" style="width: 500px;">
        <h2 class="mt-4 text-center">Formulario de Registro</h2>
        <div class="form-group row">
            <label class="col-md-4" for="">Id Ingreso:</label>
            <input class="form-control form-control-sm col-md-8" type="text" name="" id="">
        </div>
        <div class="form-group row">
            <label class="col-md-4" for="">Contraseña</label>
            <input class="form-control form-control-sm col-md-8" type="password" name="" id="">
        </div>
        <div class="form-group row">
            <label class="col-md-4" for="">Repita Contraseña</label>
            <input class="form-control form-control-sm col-md-8" type="password" name="" id="">
        </div>
        <div class="form-group row">
            <label class="col-md-4" for="">Email</label>
            <input class="form-control form-control-sm col-md-8" type="email" name="" id="">
        </div>
        <div class="form-group row">
            <label class="col-md-4" for="">Repita Email</label>
            <input class="form-control form-control-sm col-md-8" type="email" name="" id="">
        </div>
        <div class="form-group row">
            <label class="col-md-4" for="email">Lista Email</label>
            <input type="radio" name="email" id="email">Si
            <input type="radio" name="email" id="email">No
        </div>
        <div class="form-group row">
            <label class="col-md-4"  for="genero">Genero</label>
            <input type="radio" name="genero" id="genero">M
            <input type="radio" name="genero" id="genero">F
        </div>
        <div class="form-group row">
            <label class="col-md-4" for="">Fecha de Nacimiento</label>
            <input class="form-control form-control-sm col-md-8" type="date" name="" id="">
        </div>
        <div class="form-group row">
            <label class="col-md-4" for="">País</label>
            <select class="form-control form-control-sm col-md-8" name="" id="">
                <option value="">Seleccione</option>
                <option value="">Argentina</option>
                <option value="">Brasil</option>
                <option value="">Colombia</option>
                <option value="">Perú</option>
                <option value="">Ecuador</option>
            </select>
        </div>

        <button class="btn btn-primary mr-4" type="submit">Enviar</button>
        <button class="btn btn-primary" type="reset">Cancelar </button>

    </form>
</div>