<!--ANGULAR DATATABLE-->
<div class="row">
    <form class="col-md-10 offset-1" method="post" action="">
        <h2 class="text-center"> Mensaje </h2>
        <div class="form-group row">
            <label for="idname" class="col-md-4">Name</label>
            <input id="idname" class="form-control form-control-sm col-md-8" [(ngModel)]="name" name="idname" />
        </div>
        <div class="form-group row">
            <label for="idemail" class="col-md-4">Email</label>
            <input id="idemail" class="form-control form-control-sm col-md-8" [(ngModel)]="email" name="idemail" />
        </div>
        <div class="form-group row">
            <label for="idage" class="col-md-4">Age</label>
            <input id="idage" class="form-control form-control-sm col-md-8" [(ngModel)]="age" type="number"
                name="idage" />
        </div>
        <div class="form-group row">
            <label for="idcity" class="col-md-4">City</label>
            <input id="idcity" class="form-control form-control-sm col-md-8" [(ngModel)]="city" type="text"
                name="idcity" />
        </div>

        <div class="form-group text-center">
            <button (click)="guardarRegistro()" class="btn btn-secondary ml-2 mr-2"><i class="fas fa-save fal"></i> Guardar</button>
            <button class="btn btn-secondary ml-2 mr-2"><i class="fas fa-brush"></i> Limpiar</button>
        </div>
    </form>
</div>


<table class="table table-striped" [mfData]="clients" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead>
        <tr>
            <th style="width: 20%">
                <mfDefaultSorter by="name">Name</mfDefaultSorter>
            </th>
            <th style="width: 50%">
                <mfDefaultSorter by="email">Email</mfDefaultSorter>
            </th>
            <th style="width: 10%">
                <mfDefaultSorter by="age">Age</mfDefaultSorter>
            </th>
            <th style="width: 20%">
                <mfDefaultSorter by="city">City</mfDefaultSorter>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of mf.data">
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td class="text-right">{{item.age}}</td>
            <td>{{item.city | uppercase}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
        </tr>
    </tfoot>
</table>