<section class="seccion row">
    <div class="col-md-12 imagen-portada">
        <img src="assets/img/portadaObraSocial.jpg" alt="portada">
    </div>
    <article class="info col-md-6">
        <div class="card" style="width: 18rem;">
            <img src="assets/img/centro-atencion.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">CENTROS DE ATENCIÓN</h5>
              <p class="card-text">Encuentre centros medicos OSPROJ para una atencion oportuna.</p>
              <a href="#" class="btn btn-primary">Acceder</a>
            </div>
        </div>
    </article>

    <article class="info col-md-6">
        <div class="card" style="width: 18rem;">
            <img src="assets/img/farmacia.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">FARMACIA</h5>
              <p class="card-text">Encuentre farmacias con convenio OSPROJ cercanas a su ubicación.</p>
              <a href="#" class="btn btn-primary">Acceder</a>
            </div>
        </div>
    </article>
</section>